<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <appSettings>
    <add key="COM" value=""/>
    <add key="Baud" value=""/>
    <add key="Interval" value=""/>
    <add key="Form" value=""/>
    <add key="Join" value=""/>
  </appSettings>
</configuration>
